.git
.next
node_modules
test-results
tmp
coverage

.env
.env.*
!.env.example

.DS_Store
*.log
*.tsbuildinfo

prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
prisma-data
postgres-data

Dockerfile
docker-compose*.yml
